<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>myServlet</servlet-name>
    <servlet-class>myWebApp.myServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/qwe</url-pattern>
  </servlet-mapping>
</web-app>
